/build/
*.tmp
*~
gradle.properties
/.nb-gradle/
/viikko1tehtava/.nb-gradle/
/hakemisto/.nb-gradle/
/Verkkokauppa1/build/
/Kurssistatistiikka/.nb-gradle/
/Kurssistatistiikka/build/
/HelloCucumber/.nb-gradle/
/HelloCucumber/build/
/LoginCucumber/.nb-gradle/
/LoginCucumber/build/
/WebLogin/.nb-gradle/
/MockitoDemo/.nb-gradle/
/MockitoDemo/build/
/MatkakorttiMockito/.nb-gradle/
/MatkakorttiMockito/build/
/IntJoukkoSovellus/.nb-gradle/
/IntJoukkoSovellus/build/
/Tennis/.nb-gradle/
/Tennis/build/
/Laskin/.nb-gradle/
/Laskin/build/